
.ipynb_checkpoints/chapter2-checkpoint.ipynb
.ipynb_checkpoints/chapter3-checkpoint.ipynb
.ipynb_checkpoints/chapter2-EndToEndMLProject-checkpoint.ipynb
.ipynb_checkpoints/chapter3-Classification-checkpoint.ipynb
.ipynb_checkpoints/chapter4-TrainingModels-checkpoint.ipynb
