
.ipynb_checkpoints/chapter2-checkpoint.ipynb
.ipynb_checkpoints/chapter3-checkpoint.ipynb
.ipynb_checkpoints/chapter2-EndToEndMLProject-checkpoint.ipynb
.ipynb_checkpoints/chapter3-Classification-checkpoint.ipynb
.ipynb_checkpoints/chapter4-TrainingModels-checkpoint.ipynb
.ipynb_checkpoints/chapter5-SVM-checkpoint.ipynb
.ipynb_checkpoints/chapter7-EnsembleLearningAndRanddomForests-checkpoint.ipynb
.ipynb_checkpoints/chapter6-decisiontrees-checkpoint.ipynb
iris_tree.dot
.ipynb_checkpoints/chapter8-dimensionalityreduction-checkpoint.ipynb
.ipynb_checkpoints/chapter9-upandrunningwithtensorflow-checkpoint.ipynb
*.data-00000-of-00001
*.meta
*.index
tmp/checkpoint
